img[alt=portrait] { 
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
    max-width: 256px;
    filter: contrast(110%) saturate(80%) drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.3));
    transition: 0.2s;
}

#stephen-tran{
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-size: 50px;
    font-weight: lighter;
    margin: -5px;
}

body {
    background-color: white;
}

.md-header {
    background-color: #43ade9;
}

/* .md-nav--primary {
    background-color: #43ade9 !important;
} */

.action-button{
    margin: 0 0.25em;
    padding: 10px 40px;
    background-color: #43ade9;
    color: white !important;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    transition: 0.2s;
    font-size: 110%;
    width: 50px;
}

a:hover {
    color: white;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.3));
    text-decoration: none; 
}

.icon {
    color: white;
}

.project-gif {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}